<link href="~/css/sizequery.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Numero verabli per trasgressore";
}

<h1 class="text-center my-4 madimi-one-regular font-size-h1">Numero verabli per trasgressore</h1>

@if (Model is null)
{
    <h1>Non ci sono verbali</h1>
}
else
{
    <table class="table text-center madimi-one-regular">
        <thead>
            <tr>
                <th scope="col">ID Anagrafica</th>
                <th scope="col">Cognome</th>
                <th scope="col">Nome</th>
                <th scope="col">Totale Verbali</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td scope="col">@multa.IDAnagrafica</td>
                    <td scope="col">@multa.Cognome</td>
                    <td scope="col">@multa.Nome</td>
                    <td scope="col">@multa.Totale</td>
                    <td scope="col">
                        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Anagrafica" asp-route-id="@multa.IDAnagrafica">Dettagli Anagrafica del criminale</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
